img { 
    width: 50%; 
    height: 50%;
    margin-top: 15%;
    margin-left: 25%;
}

.product-name { 
    font-weight: 500;
    color: darkslategray;
    margin-left: 2%;
    padding-bottom: 25%;
}

.cart-button { 
    width: fit-content; 
    position: absolute; 
    bottom: 1%; 
    left: 2%;
}